Config
  { font = "xft:Iosevka Nerd Font:weight=regular:pixelsize=16:antialias=true:hinting=true",
    bgColor = "#282828",
    fgColor = "#d8dee9",
    position = Top,
    overrideRedirect = False,
    lowerOnStart = True,
    hideOnStart = False,
    allDesktops = True,
    persistent = True,
    commands =
      [ Run Date "%a %d/%m/%y - %H:%M" "date" 50,
        Run Cpu ["-t", "<total>%", "-H", "50", "--high", "#ea6962"] 20,
        Run Memory ["-t", "<used>M (<usedratio>%)"] 20,
        Run DiskU [("/", "<free> free")] [] 60,
        Run Com "uname" ["-r"] "" 3600,
        Run DynNetwork [ "-t", "<tx> / <rx>", "--Low", "1000", "--High", "5000" ] 10,
        Run Kbd [("us", "US"), ("pl", "PL"), ("ru", "RU"), ("ua", "UA")],
        Run Battery [ "-t", "<acstatus>", "-L", "20", "-l", "#ea6962", "--", "-O", "<fc=#dfbf8e> </fc> <left>", "-o", "<fc=#dfbf8e>  </fc> <left>", "-P" ] 10,
        Run UnsafeStdinReader
      ],
    alignSep = "}{",
    template = "  %UnsafeStdinReader% } <fc=#dfbf8e> </fc> %date%   <fc=#dfbf8e> </fc> %kbd% { <fc=#dfbf8e> </fc> %dynnetwork%   %battery%   <fc=#dfbf8e> </fc> %cpu%   <fc=#dfbf8e> </fc> %memory%   <fc=#dfbf8e> </fc> %disku%  "
  }
