* {
  background-color: #3b4252;
  border-color: #e5e9f0;
  text-color: #e5e9f0;
  font: "JetBrains Mono Nerd Font 11";
}

#window {
  border: 2;
  padding: 8px;
}

#mainbox {
  padding: 8;
}

#element {
  border: 0;
  padding: 2px 8px;
}

#element.selected.normal {
  background-color: #81a1c1;
  text-color: #2e3440;
}

#inputbar {
  padding: 0px 0px 12px 0px;
}

#entry {
  padding: 4px 8px;
}

#prompt {
  background-color: #88c0d0;
  padding: 4px 8px;
  text-color: #2e3440;
}
